body {
    margin: 0;
    width: 100%;
    background-color: #f4f4f7;
}

@font-face {
    font-family: "Roboto";
    src: url("font/Roboto-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url("font/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("font/Roboto-Bold.ttf");
    font-weight: 700;
}

.container {
    max-width: 1180px;
    overflow: hidden;
    margin: 0 auto;
}

.header {
    width: 1180px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./image/img-header.jpg);
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1180px;
    height: auto;
    padding-top: 40px;
}

.menu-logo {
    width: 40px;
    height: 40px;
    padding-left: 40px;
    margin-right: 120px;
}

.nav {
    width: 566px;
    height: auto;
    padding: 10px 0 10px 2px;
    margin-right: 227px;
}

.nav__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.nav__item {
    display: flex;
    justify-content: flex-start;
}

.nav__item a {
    color: #f4f4f7;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
    margin-right: 50px;
}

.nav__item:last-child a {
    margin: 0;
}

.nav__item a:hover {
    color: #c0c6c8;
}

.language-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    margin-left: -13px;
}

.language-list__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 15px;
    width: 38px;
    align-items: center;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.language-list__link {
    padding: 10px;
    color: #f4f4f7;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
}

.language-list__item:hover {
    border: 1px solid #f4f4f7;
    border-radius: 50%;
}

.language-list__item_border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border: 1px solid #f4f4f7;
    border-radius: 50%;
}

.language-list__item_margin {
    margin-right: 0;
}

.logo-mobile {
    margin-left: 30px;
    display: none;
}

.menu-mobile {
    display: none;
}

.title {
    width: 780px;
    height: auto;
    margin: 90px 200px 78px 200px;
}

.title_header {
    width: 780px;
    height: auto;
    margin: 92px 200px 78px 200px;
}

.title__heading {
    width: 780px;
    height: auto;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: -0.75px;
    color: #2d2d42;
    margin: 0;
    cursor: default;
    margin-bottom: 30px;
}

.title__paragraph {
    width: 780px;
    height: auto;
    font-size: 30px;
    margin: 0;
    color: #2d2d42;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0;
    cursor: default;
}

.title__heading_grey {
    color: #f4f4f7;
}

.title__paragraph_grey {
    font-size: 20px;
    color: #f4f4f7;
    line-height: 30px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    width: 580px;
    padding: 25px 0px 25px 1px;
    height: auto;
}

.button__text {
    display: block;
    width: 280px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #f4f4f7;
    margin-left: 200px;
    line-height: 30px;
}

.button__img {
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

.button_grey {
    border-top: 1px solid rgba(255, 255, 255, .4);
    border-right: 1px solid rgba(255, 255, 255, .4);
}

.button_grey:hover {
    background-color: darkgrey;
    opacity: 0.5;
}

.line {
    display: none;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1180px;
    height: auto;
    margin-top: 100px;
    background-color: #ffffff;
}

.cards-box-mobile {
    display: none;
}

.cards-box-text-mobile {
    display: none;
}

.cards-box {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0 294px 0 198px;
    flex-wrap: wrap;
    margin-top: 7px;
}

.cards-box__card {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}

.cards-box__card_blue {
    background-color: #63c9e0;
    background-image: url(./image/ic-project.png);
    background-size: 50px 52px;
    background-position: 50% 54%;
    margin-right: 213px;
}

.cards-box__card_orange {
    background-color: #f47e3d;
    margin-right: 205px;
    background-image: url(./image/ic-hire.png);
    background-size: 26px 61px;
    background-position: 57% 55%;
}

.cards-box__card_purple {
    background-color: #d04b9b;
    background-image: url(./image/ic-digital.png);
    background-size: 56px 43px;
    background-position: 51% 40%;
}

.cards-text {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 980px;
    height: auto;
    margin: 0;
    padding: 0 140px 0 200px;
    cursor: default;
}

.cards-box__card-text {
    width: 240px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0;
    color: #2d2d42;
    margin-right: 60px;
}

.cards-text:nth-child(3) {
    margin-right: 0;
}

.card__contain {
    display: none;
}

.title_grey {
    padding: 70px 200px 0 200px;
    margin: 0;
    color: #c0c6c8;
    cursor: default;
}

.skills-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 75px 100px 121px 200px;
    height: auto;
    width: 880px;
    cursor: default;
}

.skills-list {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    list-style: none;
    width: 380px;
    padding: 0;
}

.skills-list li {
    position: relative;
    color: #444;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0;
    color: #2d2d42;
}

.skills-list li:first-child {
    line-height: 30px;
}

.skills-list li:nth-child(2) {
    margin-top: 5px;
}

.skills-list li:before {
    content: "";
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translate(0, -50%);
    background: #64cae1;
    height: 1px;
    width: 30px;
    font-weight: normal;
    border-radius: 2em;
    list-style: none;
}

.skills-list li:first-child::before {
    top: 15px;
}

.button_blue-mobile {
    display: none;
}

.our-work {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1180px;
    height: auto;
    margin: 0;
}

.title_work {
    margin: 100px 200px 90px 200px;
}

.title__heading_work {
    margin-bottom: 25px;
}

.our-work-container {
    width: auto;
    height: auto;
    background-image: url(./image/vid-birdieeyes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.our-work-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px 600px 20px 200px;
    width: 380px;
    height: auto;
    background-color: #64cae1;
    text-decoration: none;
}

.our-work-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 41px 40px 40px 40px;
}

.our-work-content__heading {
    width: 300px;
    height: auto;
    padding: 0 0 39px 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 1.73px;
    color: #f4f4f7;
    text-transform: uppercase;
    word-wrap: break-word;
}

.our-work-content__description {
    width: 300px;
    height: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0;
    color: #f4f4f7;
}

.works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 1180px;
    height: auto;
    padding-top: 20px;
}

.works-mobile {
    display: none;
}

.our-work-container-img-mobile {
    display: none;
}

.our-work-container-img-content {
    overflow: hidden;
    text-decoration: none;
}

.our-work-container-img-content img {
    transition: 1s;
    display: block;
}

.our-work-container-img-content img:hover {
    transform: scale(1.2);
}

.our-work-container-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 580px;
    height: auto;
    text-decoration: none;
}

.our-work-img-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 580px;
    height: auto;
    padding-top: 40px;
}

.our-work-img-content__title-img {
    width: 440px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 1.73px;
    color: #2d2d42;
    text-transform: uppercase;
}

.our-work-img-content__description-img {
    width: 440px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0;
    color: #2d2d42;
    padding-top: 30px;
    padding-bottom: 70px;
    cursor: default;
}

.our-team {
    margin-top: 30px;
    width: 1180px;
    height: auto;
    background-image: url(./image/img-team-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.our-team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 200px 200px 20px 600px;
    width: 380px;
    height: auto;
    background-color: #f4f4f7;
    text-decoration: none;
}

.our-team-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: auto;
    padding: 40px 40px 110px 40px;
}

.our-team-content__heading {
    width: 300px;
    height: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 1.73px;
    color: #2d2d42;
    text-transform: uppercase;
}

.our-team-content__text {
    width: 300px;
    height: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0;
    color: #2d2d42;
    padding-top: 50px;
}

.inside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1180px;
    height: auto;
    margin: 0 0 0 0;
}

.inside-about-us {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    min-width: 1180px;
    min-height: 600px;
    background-image: url(./image/img-inside-press.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 980px 600px;
}

.inside-about-us-container {
    width: 400px;
    height: auto;
    background-color: #f4f4f7;
    text-decoration: none;
}

.inside-container-mobile .our-work-container-img-mobile {
    display: none;
}

.inside-about-us-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 340;
    height: auto;
    padding: 40px 60px 0 0;
    margin: 0;
}

.inside-about-us-content__title {
    width: 300px;
    height: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 1.73px;
    color: #2d2d42;
    text-transform: uppercase;
}

.inside-about-us-content__text {
    width: 300px;
    height: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0;
    color: #2d2d42;
    padding-top: 30px;
}

.inside-logo {
    margin-top: 54px;
}

.inside-switch {
    display: flex;
    justify-content: space-between;
    margin-left: -40px;
    margin-right: 40px;
    padding-top: 29px;
    margin-bottom: 0;
}

.inside-switch__item {
    list-style: none;
    width: 65px;
    height: 1px;
    background-color: #c0c6c8;
}

.inside-switch__item:hover {
    background-color: #7cdaba;
}

.inside-switch__item:first-child {
    background-color: #2d2d42;
}

.news {
    width: 1180px;
    height: auto;
    padding-top: 80px;
}

.news__heading {
    width: 280px;
    height: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 1.73px;
    color: #2d2d42;
    text-transform: uppercase;
    cursor: default;
}

.news-container {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    height: auto;
    padding-top: 34px;
    flex-wrap: wrap;
}

.news-container-content {
    text-decoration: none;
}

.news-container-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
    width: 280px;
    height: auto;
    margin-bottom: 100px;
}

.news-container-list:hover {
    text-decoration: underline;
    text-decoration-color: #6c9b8b;
}

.news-container-list__text {
    width: 280px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0;
    color: #2d2d42;
}

.news-container-list__date {
    width: 280px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
    color: #93a4a9;
    padding-top: 20px;
}

.footer {
    width: 1180px;
    height: auto;
    background-color: #000000;
    background-image: url(./image/img-map.png);
    background-repeat: no-repeat;
    background-position: 248px 180px;
}

.footer-contacts-container {
    display: flex;
    width: 638px;
    height: auto;
    padding: 100px 0 0 200px;
    padding-top: 100px;
}

.title__heading_white {
    width: 663px;
    color: #f4f4f7;
}

.footer-social-mobile {
    display: none;
}

.footer-social {
    display: flex;
    width: auto;
    padding-left: 0;
    margin: 0;
    padding-top: 19px;
    margin-left: 263px;
}

.footer-social__in-item a {
    display: flex;
    justify-content: flex-start;
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.footer-social__in-item_in a {
    background-image: url(./image/ic-linkedin-white.svg);
}

.footer-social__in-item_facebook a {
    background-image: url(./image/ic-facebook-white.svg);
}

.footer-social__in-item_instagram a {
    background-image: url(./image/ic-instagram-white.svg);
}

.footer-social__in-item a:hover {
    box-shadow: 0 0 3px 3px rgb(202, 100, 143);
    border-radius: 50%;
}

.location {
    display: flex;
    width: 980px;
    height: auto;
    padding: 45px 0 0 200px;
}

.location-text {
    width: 380px;
    height: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0;
    color: #f4f4f7;
    cursor: default;
}

.wrapper-point {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 124px;
    height: auto;
    margin: 17px 386px 8px 90px;
}

.wrapper-point__item_blue {
    width: 50px;
    height: 50px;
    background-color: #64cae1;
    border-radius: 50%;
}

.wrapper-point__item_pink {
    width: 40px;
    height: 40px;
    background-color: #d04b9b;
    border-radius: 50%;
    margin-top: 20%;
}

.wrapper-point-mobile {
    display: none;
}

.footer-countrys {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 878px;
    height: auto;
    padding: 90px 102px 0 200px;
    flex-wrap: wrap;
}

.footer-countrys-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: auto;
    margin-bottom: 69px;
}

.footer-countrys-container__heading {
    width: 380px;
    height: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0;
    color: #f4f4f7;
    cursor: default;
}

.footer-contact {
    width: 380px;
    height: auto;
    margin: 0;
    padding-top: 21px;
    padding-left: 1px;
}

.footer-contact__item {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0;
    color: #f4f4f7;
    cursor: default;
}

.footer-contact__item a {
    text-decoration: none;
    color: #f4f4f7;
}

.footer-contact__item:nth-child(3) a {
    color: #64cae1;
}

.footer-contact__item:nth-child(3) a:hover {
    color: rgb(196, 93, 153);
}

.footer-list-mobile {
    display: none;
}

.footer-button-copy {
    display: flex;
    align-items: center;
    width: 1180px;
    height: auto;
    background-color: #000000;
}

.button_blue {
    background-color: #64cae1;
}

.button_blue:hover {
    color: darkgrey;
    opacity: 0.5;
}

.footer-copy {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #f4f4f7;
    width: 380px;
    height: auto;
    margin: 0;
    padding: 25px 102px 25px 118px;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0;
    cursor: default;
}

.footer-copy-mobile {
    display: none;
}

@media (min-width: 980px) and (max-width: 1180px) {
    .header {
        min-width: 980px;
        max-width: 1180px;
        margin: 0 auto;
    }
    .menu {
        max-width: 1180px;
    }
    .menu-logo {
        padding-left: 100px;
        margin-right: 60px;
    }
    .nav {
        margin-right: 92px;
    }
    .nav__item a {
        margin-right: 50px;
    }
    .nav__item:nth-child(5) a {
        display: none;
    }
    .language-list {
        margin-left: calc(-85px + (300 - 85) * (100vw - 980px) / (1180 - 980));
    }
    .title {
        margin: 90px 200px 78px 100px;
        margin-left: calc(100px + (200 - 100) * (100vw - 980px) / (1180 - 980));
    }
    .title_header {
        width: 780px;
        height: auto;
        margin: 92px 200px 78px 100px;
        margin-left: calc(100px + (200 - 110) * (100vw - 980px) / (1180 - 980));
    }
    .button {
        width: 480px;
        padding: 25px 0px 25px 1px;
    }
    .button__text {
        margin-left: 100px;
    }
    .skills {
        min-width: 980px;
        max-width: 1180px;
        margin-top: 0;
        top: 0;
        left: 0;
        margin: auto;
        margin-top: calc(0px + (100 - 0) * (100vw - 980px) / (1180 - 980));
    }
    .cards-box {
        padding: 0 194px 0 98px;
        justify-content: flex-start;
        padding-left: calc(98px + (200 - 98) * (100vw - 980px) / (1180 - 980));
    }
    .cards-text {
        padding: 0 40px 0 100px;
        padding-left: calc(98px + (200 - 98) * (100vw - 980px) / (1180 - 980));
    }
    .title_grey {
        padding: 70px 200px 0 100px;
        padding-left: calc(98px + (200 - 98) * (100vw - 980px) / (1180 - 980));
    }
    .skills-wrapper {
        padding: 75px 0px 121px 150px;
        width: 800px;
        padding-left: calc(150px + (200 - 150) * (100vw - 980px) / (1180 - 980));
    }
    .our-work {
        min-width: 980px;
        max-width: 1180px;
        top: 0;
        left: 0;
        margin: auto;
    }
    .title_work {
        margin: 100px 200px 90px 100px;
        margin-left: calc(100px + (200 - 100) * (100vw - 980px) / (1180 - 980));
    }
    .our-work-container-content {
        margin: 200px 600px 20px 110px;
    }
    .works {
        width: auto;
        padding-top: 0;
        justify-content: flex-start;
        margin-left: calc(0px + (165 - (0)) * (100vw - 980px) / (1280 - 980))
    }
    .our-work-container-img {
        width: 490px;
    }
    .our-work-img-content {
        width: 490px;
        padding-top: 40px;
        padding-left: 40px;
    }
    .our-work-img-content__title-img {
        width: 320px;
    }
    .our-work-img-content__description-img {
        width: 400px;
        padding-bottom: 40px;
    }
    .our-team {
        margin-top: 0;
        min-width: 980px;
        max-width: 1180px;
        margin: 0;
        margin-left: -73px;
    }
    .our-team-container {
        margin: 200px 110px 20px 490px;
    }
    .inside {
        min-width: 980px;
        max-width: 1180px;
        top: 0;
        left: 0;
        margin: auto;
    }
    .inside-about-us {
        min-width: 980px;
    }
    .inside-about-us-content {
        padding: 40px 60px 0 40px;
    }
    .inside-logo {
        margin-top: 54px;
        margin-left: 40px;
    }
    .inside-switch {
        margin-left: 0;
        margin-right: 40px;
    }
    .inside-switch__item {
        width: 60px;
    }
    .news {
        min-width: 980px;
        max-width: 1280px;
    }
    .news__heading {
        margin-left: 100px;
    }
    .news-container {
        padding-left: 100px;
        width: 700px;
    }
    .news-container-list {
        width: 200px;
    }
    .news-container-list__text {
        width: 200px;
    }
    .news-container-list__date {
        width: 200px;
    }
    .footer {
        min-width: 980px;
        max-width: 1180px;
        background-position: 145px 180px;
    }
    .footer-contacts-container {
        padding: 100px 0 0 100px;
    }
    .location {
        padding: 45px 0 0 100px;
    }
    .footer-countrys {
        padding: 90px 102px 0 100px;
    }
    .footer-button-copy {
        min-width: 980px;
        max-width: 1180px;
    }
    .button_blue {
        background-color: #64cae1;
        padding: 25px 49px 25px 1px;
    }
    .button_blue:hover {
        color: darkgrey;
        opacity: 0.5;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    img {
        width: 100%;
        height: 100%;
    }
    .header {
        width: 100%;
        background-color: #2d2d42;
        background-image: none;
    }
    .burger-menu {
        display: flex;
        flex-direction: column;
        width: 20px;
        height: 20px;
        filter: invert(1);
    }
    .logo-mobile {
        display: block;
        margin-left: 30px;
        margin-right: 101px;
    }
    .menu-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: 30px;
        padding-top: 30px;
        padding-right: 30px;
    }
    .menu {
        display: none;
    }
    .title {
        width: auto;
        height: auto;
        padding: 30px 30px 0 30px;
        margin: 0
    }
    .title__heading {
        width: auto;
        font-size: 25px;
        margin-bottom: 20px;
        letter-spacing: -0.31px;
        line-height: 30px;
    }
    .button {
        display: flex;
        justify-content: space-between;
        width: auto;
        padding: 0;
        padding-bottom: 30px;
    }
    .button_grey:hover {
        background-color: transparent;
        opacity: 1;
    }
    .button__text {
        width: auto;
        font-size: 15px;
        margin-left: 30px;
        line-height: 20px;
    }
    .button__img {
        width: 20px;
        height: 20px;
        margin: 0;
        padding-right: 30px;
    }
    .button_grey {
        border-top: 1px solid rgba(0, 0, 0, 0);
        border-top: 1px solid rgba(0, 0, 0, 0);
    }
    .skills {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        height: auto;
        margin-top: 100px;
        background-color: #ffffff;
        top: 0;
        left: 0;
        margin: auto;
    }
    .title__heading {
        width: auto;
        font-size: 25px;
        margin-bottom: 20px;
        letter-spacing: -0.31px;
        line-height: 30px;
    }
    .title__paragraph {
        width: auto;
        height: auto;
        font-size: 15px;
        margin: 0;
        color: #2d2d42;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0;
        cursor: default;
    }
    .title__paragraph_grey {
        width: auto;
        height: auto;
        font-size: 15px;
        padding-bottom: 100px;
        color: #f4f4f7;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0;
        cursor: default;
    }
    .cards-box {
        display: none;
        justify-content: space-between;
        list-style: none;
        width: auto;
        height: auto;
        margin: 0;
        padding: 60px 0 0 30px;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .cards-box__card {
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 30px;
        background-repeat: no-repeat;
    }
    .card__contain {
        display: flex;
        width: auto;
        height: auto;
        margin: 54px 30px 0 30px;
    }
    .cards-box-mobile {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }
    .cards-box__card-mobile {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-repeat: no-repeat;
    }
    .cards-box__card_blue {
        background-color: #63c9e0;
        background-image: url(./image/ic-project.png);
        background-size: 27.8px 28.9px;
        background-position: 57% 55%;
        margin: 0 20px 60px 0;
    }
    .cards-box__card_orange {
        background-color: #f47e3d;
        background-image: url(./image/ic-hire.png);
        background-size: 13.3px 32.8px;
        background-position: 57% 55%;
        margin: 0 20px 60px 0;
    }
    .cards-box__card_purple {
        background-color: #d04b9b;
        background-image: url(./image/ic-digital.png);
        background-size: 31.1px 23.9px;
        background-position: 51% 40%;
        margin: 0 20px 0 0;
    }
    .cards-text {
        display: none;
        flex-wrap: wrap;
        list-style: none;
        width: 190px;
        height: auto;
        margin: 0;
        padding: 5px 0px 15px 100px;
        cursor: default;
        margin-top: -280px;
    }
    .cards-box__card-text {
        display: none;
        width: 190px;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: 0;
        color: #2d2d42;
        margin-right: 0;
        margin-top: 69px;
    }
    .cards-box__card-text:nth-child(1) {
        margin-top: 0;
    }
    .cards-box__card-text:nth-child(2) {
        margin-bottom: 91px;
    }
    .cards-box__card-text:nth-child(3) {
        margin-top: 0;
    }
    .cards-box-text-mobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        list-style: none;
        padding: 0;
    }
    .cards-text-mobile {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        width: auto;
        height: auto;
        margin: 0;
        padding: 5px 0px 15px 100px;
        cursor: default;
    }
    .cards-box__card-text-mobile {
        width: auto;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: 0;
        color: #2d2d42;
        margin-right: 0;
    }
    .cards-box__card-text-mobile:nth-child(1) {
        margin-top: calc(1px + (20 - (1)) * (100vw - 320px) / (767 - 320));
        height: 60px;
        padding-right: 0;
    }
    .cards-box__card-text-mobile:nth-child(2) {
        margin-top: calc(55px + (40 - (55)) * (100vw - 320px) / (767 - 320));
        padding-right: 0;
    }
    .cards-box__card-text-mobile:nth-child(3) {
        margin-top: calc(95px + (90 - (95)) * (100vw - 320px) / (767 - 320));
        padding-right: 0;
    }
    .title_grey {
        padding: 60px 30px 0 30px;
        margin-bottom: 0;
    }
    .skills-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 30px 30px 20px 70px;
        height: auto;
        width: 220px;
        cursor: default;
    }
    .skills-list {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 0;
        list-style: none;
        width: 220px;
        padding: 0;
        margin-top: -2px;
    }
    .skills-list li {
        position: relative;
        color: #444;
        text-decoration: none;
        list-style: none;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0;
        color: #2d2d42;
        width: 220px;
        margin-bottom: 20px;
    }
    .skills-list li:first-child {
        line-height: 20px;
    }
    .skills-list li:nth-child(2) {
        margin-top: 0;
    }
    .skills-list li:before {
        content: "";
        position: absolute;
        left: -35px;
        top: 50%;
        transform: translate(0, -50%);
        background: #64cae1;
        height: 1px;
        width: 20px;
        font-weight: normal;
        border-radius: 2em;
        list-style: none;
    }
    .skills-list li:first-child::before {
        top: 15px;
    }
    .skills-list-mobile {
        margin-top: 182px;
        margin-left: -223px;
    }
    .button_blue-mobile {
        width: auto;
        height: auto;
        background-color: #64cae1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        padding: 20px 0px 20px 0px;
    }
    .button__text-mobile {
        display: block;
        width: 280px;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        color: #f4f4f7;
        margin-left: 30px;
        line-height: 20px;
    }
    .button__img-mobile {
        margin-right: 30px;
        width: 20px;
        height: 20px;
    }
    .our-work {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        margin: auto;
    }
    .title_work {
        width: auto;
        padding: 30px;
        margin: 0;
    }
    .title__heading_work {
        margin-bottom: 25px;
    }
    .our-work-container {
        display: none;
    }
    .works {
        display: none;
    }
    .our-work-container-img {
        display: none;
    }
    .works-mobile {
        display: block;
        background-color: white;
    }
    .our-work-container-img-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: auto;
        text-decoration: none;
    }
    .our-work-img-content-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        height: auto;
        padding-top: 30px;
        padding-left: 30px;
    }
    .our-work-img-content__title-img-mobile {
        width: auto;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 900;
        line-height: 10px;
        letter-spacing: 1.73px;
        color: #2d2d42;
        text-transform: uppercase;
    }
    .our-work-img-content__description-img-mobile {
        width: auto;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0;
        color: #2d2d42;
        padding-top: 20px;
        padding-bottom: 30px;
        cursor: default
    }
    .our-work-container-img-content-mobile {
        text-decoration: none;
    }
    .inside {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        margin: auto;
        background-color: white;
    }
    .inside-about-us {
        display: none;
        justify-content: flex-start;
        align-items: flex-end;
        min-width: 320px;
        min-height: 200px;
        background-image: url("image/image mobile/img-inside-press.png");
        background-size: contain;
    }
    .inside-logo-mobile {
        display: flex;
        justify-content: space-between;
        width: auto;
        height: 30px;
        margin-right: 20px;
    }
    .inside-logo_grey {
        filter: invert(1);
    }
    .inside-logo_tc {
        padding: 5px 0 5px 0;
    }
    .news {
        width: auto;
        height: auto;
        padding-top: 50px;
        background-color: white;
    }
    .news-container-list:hover {
        text-decoration: underline;
        text-decoration-color: rgba(0, 0, 0, 0);
    }
    .news__heading {
        width: auto;
        height: auto;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 900;
        line-height: 10px;
        letter-spacing: 1.73px;
        color: #2d2d42;
        text-transform: uppercase;
        cursor: default;
        padding-left: 30px;
    }
    .news-container {
        display: flex;
        justify-content: space-between;
        width: auto;
        height: auto;
        padding-top: 30px;
        flex-wrap: wrap;
        padding-left: 30px;
    }
    .news-container-content {
        text-decoration: none;
        padding-right: 30px;
    }
    .news-container-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0;
        list-style: none;
        width: 260px;
        height: auto;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .news-container-list__text {
        width: 260px;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0;
        color: #2d2d42;
    }
    .news-container-list__date {
        width: 280px;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0;
        color: #93a4a9;
        padding-top: 10px;
    }
    .footer {
        width: auto;
        height: auto;
        background-color: #000000;
        background-image: none;
        background-repeat: no-repeat;
        background-position: 0 177px;
        background-size: 107% 42%;
    }
    .footer-contacts-container {
        display: flex;
        width: auto;
        height: auto;
        padding: 30px 0 0 30px;
    }
    .title__heading_white {
        width: auto;
        color: #f4f4f7;
    }
    .footer-social {
        display: none;
    }
    .footer-social-mobile {
        width: auto;
        display: flex;
        padding-left: 0;
        margin: 0;
        padding-top: 12px;
        padding-left: 30px;
    }
    .footer-social__in-item_mobile a {
        display: flex;
        justify-content: flex-start;
        width: 30px;
        height: 30px;
        margin-right: 25px;
    }
    .footer-social__in-item_in_mobile a {
        background-image: url(./image/ic-linkedin-white.svg);
    }
    .footer-social__in-item_facebook_mobile a {
        background-image: url(./image/ic-facebook-white.svg);
    }
    .footer-social__in-item_instagram_mobile a {
        background-image: url(./image/ic-instagram-white.svg);
    }
    .location {
        display: flex;
        width: auto;
        height: auto;
        padding: 0 30px 0 30px;
        margin: 0;
    }
    .location-text {
        width: auto;
        height: auto;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0;
        color: #f4f4f7;
        cursor: default;
    }
    .wrapper-point {
        display: none;
    }
    .wrapper-point-mobile {
        display: flex;
        position: absolute;
        width: calc(300px + (725 - (300)) * (100vw - 320px) / (767 - 320));
        height: 441px;
        justify-content: space-between;
        align-items: flex-start;
        background-image: url(./image/img-map.png);
        margin-top: -29px;
        background-size: 672px 359px;
        background-repeat: no-repeat;
        background-position: calc(20px + (133 - (20)) * (100vw - 768px) / (979 - 768));
        z-index: 1;
    }
    .point-mobil {
        width: 93px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        padding-top: 75px;
        margin-left: calc(92px + (335 - (92)) * (100vw - 320px) / (767 - 320));
    }
    .point-mobil__item_blue {
        width: 38px;
        height: 38px;
        background-color: #64cae1;
        border-radius: 50%;
    }
    .point-mobil__item_pink {
        width: 30px;
        height: 30px;
        background-color: #d04b9b;
        border-radius: 50%;
        margin-top: 20%;
    }
    .footer-countrys {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: auto;
        height: auto;
        padding: 220px 0 0 30px;
        flex-wrap: wrap;
        margin: 0;
    }
    .footer-countrys-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        height: auto;
        margin-bottom: 30px;
        margin-right: 30px;
        z-index: 10;
    }
    .footer-countrys-container__heading {
        width: auto;
        height: auto;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: 0;
        color: #f4f4f7;
        cursor: default;
    }
    .footer-contact {
        width: auto;
        height: auto;
        margin: 0;
        padding-top: 20px;
        padding-left: 0;
    }
    .footer-contact__item {
        list-style: none;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 0;
        color: #f4f4f7;
        cursor: default;
    }
    .footer-contact__item a {
        text-decoration: none;
        color: #f4f4f7;
    }
    .footer-contact__item:nth-child(3) a {
        color: #64cae1;
    }
    .footer-contact__item:nth-child(3) a:hover {
        color: #64cae1;
    }
    .footer-button-copy {
        display: none;
    }
    .footer-copy {
        display: none;
    }
    .footer-list-mobile {
        display: block;
        width: auto;
        height: auto;
        background-color: #2d2d42;
    }
    .footer-list-mobile {
        width: auto;
        height: auto;
        padding: 20px 30px 0 15px;
        margin: 0;
        list-style: none;
    }
    .footer-list-mobile__link {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 40px;
        letter-spacing: 0;
        color: #f4f4f7;
        text-decoration: none;
    }
    .footer-copy-mobile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #f4f4f7;
        width: auto;
        height: auto;
        margin: 0;
        padding: 18px 30px 30px 15px;
        opacity: 0.5;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0;
        cursor: default;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .container {
        overflow: hidden;
    }
    .header {
        min-width: 768px;
        max-width: 979px;
        width: 100%;
        margin: 0 auto;
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
    }
    .menu-logo {
        padding-left: calc(40px + (100 - 40) * (100vw - 768px) / (979 - 768));
        margin-right: calc(30px + (-16 - 30) * (100vw - 768px) / (979 - 768));
    }
    .nav {
        margin-right: calc(20px + (60 - 20) * (100vw - 768px) / (979 - 768));
    }
    .nav__item a {
        margin-right: calc(25px + (50 - 25) * (100vw - 768px) / (979 - 768));
    }
    .nav__item:nth-child(5) a {
        display: none;
    }
    .language-list {
        margin-left: -85px;
        flex-wrap: nowrap;
        margin-right: 50px;
    }
    .language-list__item {
        margin-right: 10px;
    }
    .title {
        margin: 90px 200px 78px 100px;
    }
    .title_header {
        width: auto;
        height: auto;
        margin: 92px 200px 78px 130px;
    }
    .title__heading {
        max-height: 260px;
        width: auto;
        font-size: calc(43px + (60 - 43) * (100vw - 768px) / (979 - 768));
    }
    .title__paragraph_grey {
        font-size: calc(18px + (20 - 18) * (100vw - 768px) / (979 - 768));
    }
    .button {
        width: calc(452px + (480 - 452) * (100vw - 768px) / (979 - 768));
        padding: 25px 0px 25px 1px;
    }
    .button__text {
        margin-left: calc(30px + (100 - 30) * (100vw - 768px) / (979 - 768));
    }
    .button__img {
        margin-left: 21px;
    }
    .title {
        margin: 90px 200px 78px 0;
        padding-left: calc(30px + (100 - 30) * (100vw - 768px) / (979 - 768));
        width: auto;
    }
    .skills {
        width: auto;
        margin-top: 0;
        top: 0;
        left: 0;
        margin: auto;
        overflow: hidden;
    }
    .cards-box {
        padding: 0 0 0 30px;
        padding-left: calc(30px + (100 - 30) * (100vw - 768px) / (979 - 768));
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .cards-box__card_blue {
        margin-right: calc(180px + (196 - 180) * (100vw - 768px) / (979 - 768));
    }
    .cards-text {
        padding: 0 40px 0 30px;
        padding-left: calc(30px + (100 - 30) * (100vw - 768px) / (979 - 768));
    }
    .cards-box__card-text {
        margin-right: calc(20px + (45 - 20) * (100vw - 768px) / (979 - 768));
    }
    .title_grey {
        padding: 70px 200px 0 30px;
        padding-left: calc(30px + (100 - 30) * (100vw - 768px) / (979 - 768));
    }
    .skills-wrapper {
        padding: 75px 0px 121px 95px;
        padding-left: calc(95px + (150 - 95) * (100vw - 768px) / (979 - 768));
        width: 695px;
    }
    .skills-list {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 0;
        list-style: none;
        width: 308px;
        padding: 0;
    }
    .our-work {
        width: auto;
        top: 0;
        left: 0;
        margin: auto;
        overflow: hidden;
    }
    .title_work {
        margin: 50px 200px 90px 30px;
    }
    .our-work-container-content {
        margin: 200px 600px 20px 40px;
    }
    .works {
        width: auto;
        padding-top: 30px;
    }
    .our-work-container {
        width: auto;
        height: auto;
        background-image: url(./image/vid-birdieeyes.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -50px;
    }
    .our-work-container-img {
        width: 580px;
        margin: auto;
    }
    .our-work-img-content {
        width: 490px;
        padding-top: 40px;
        padding-left: 70px;
    }
    .our-work-img-content__title-img {
        width: 320px;
    }
    .our-work-img-content__description-img {
        width: 400px;
        padding-bottom: 40px;
    }
    .our-team {
        margin-top: 0;
        width: auto;
        top: 0;
        left: 0;
    }
    .our-team-container {
        margin: 200px 110px 20px 0;
        margin-left: calc(130px + (535 - (306)) * (100vw - 320px) / (767 - 320));
    }
    .inside {
        width: auto;
        top: 0;
        left: 0;
        margin: auto;
    }
    .inside-about-us {
        min-width: 768px;
    }
    .inside-about-us-container {
        margin-left: 368px;
    }
    .inside-about-us-content {
        padding: 40px 60px 0 40px;
    }
    .inside-logo {
        margin-top: 54px;
        margin-left: 40px;
    }
    .inside-switch {
        margin-left: 0;
        margin-right: 40px;
    }
    .inside-switch__item {
        width: 60px;
    }
    .news {
        width: 768px;
        margin-left: 30px;
    }
    .news__heading {
        margin-left: 30px;
    }
    .news-container {
        padding-left: 30px;
        width: 680px;
    }
    .news-container-list {
        width: 200px;
    }
    .news-container-list__text {
        width: 200px;
    }
    .news-container-list__date {
        width: 200px;
    }
    .footer {
        width: auto;
        background-position: 145px 180px;
        overflow: hidden;
    }
    .footer-contacts-container {
        padding: 100px 0 0 100px;
    }
    .footer-social {
        margin-left: 240px;
    }
    .location {
        padding: 45px 0 0 100px;
    }
    .footer-countrys {
        padding: 90px 102px 0 100px;
        width: 768px;
    }
    .footer-button-copy {
        width: auto;
    }
    .footer-copy {
        width: 230px;
        padding: 0;
        margin-left: 25px;
    }
    .button_blue {
        background-color: #64cae1;
        padding: 25px 49px 25px 1px;
    }
    .button_blue:hover {
        color: darkgrey;
        opacity: 0.5;
    }
}